.jumbotron
{
background-color:#0B658F;
color: #F4B33F;
}
.body
{
  padding-bottom:100px; 
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #bcc1c5;
    background-color: #202122;
    text-align: center;
  }
  .navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }
 a{
   color: inherit;
   text-decoration: none;
 }
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #202122;
  color: white;
}